<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-videocall" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>videocall</name><js-module name="videocall" src="www/videocall.js"><clobbers target="cordova.plugins.videocall" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="videocall"><param name="android-package" value="cordova-plugin-videocall.videocall" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/videocall.java" target-dir="src/cordova-plugin-videocall/videocall" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="videocall"><param name="ios-package" value="videocall" /></feature></config-file><source-file src="src/ios/videocall.m" /></platform></plugin>